/****************************** 
    Google Font Poppins
*******************************/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


/****************************** 
             Body
***************************** */


body {
    margin: auto;
    font-family: 'Poppins',
        sans-serif;
}

/****************************** 
            Header 
******************************/
header {
    width: 100%;
    background-color: #2d25a0;
}

/****************************** 
            Menu 
******************************/
menu {
    margin-top: 0px;
    background-color: transparent;
    display: flex;
    justify-content: flex-start;
}

menu a {
    font-size: 14px;
    text-decoration: none;
    padding: 20px;
    color: #ffffff;
}

#menu-btn {
    padding: 14px 18px;
    margin-top: 7px;
    font-size: 14px;
    margin-left: 600px;
    background: transparent;
    color: #ffffff;
}

#menu-btn:hover {
    font-weight: 600;
    background: #e02c6d;
    color: #ffffff;
    transition: 1.2s;
}

/****************************** 
             Banner
 ******************************/
.container {
    width: 100%;
    height: 600px;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.banner-itmes {
    width: 50%;
    margin-left: 50px;

}

.banner-itmes h2 {
    margin-top: -30px;
    font-size: 64px;
    line-height: 68px;
    color: #ffffff;
    padding-left: 20px;
}

.banner-img {
    margin-top: 20px;
    width: 50%;


}

img {
    width: 80%;
}

#banner-btn {
    margin-left: 18px;
    padding: 12px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 20px;
    background: transparent;
    border: 1px solid slateblue;
    color: #ffffff;
    font-weight: 500;
}

#banner-btn:hover {
    font-weight: 600;
    background: #e02c6d;
    color: #ffffff;
    transition: 1.2s;
}



/****************************** 
            Main  
******************************/

/* 
/* main /{
    display: flex;
    align-items: center;
    flex-direction: column;
}  */

.player {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.players {

    width: 870px;
    padding: 33px;
    margin-top: 21px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    background-color: rgba(228, 228, 228, 0.151);
}

.players-photo {
    border: 15px solid #ffffff;
    margin: 5px;

}

.photo img {
    width: 100%;
}

.players-photo .photo-ditels h4 {
    font-weight: 300;
    font-size: 16px;

}

.players-photo .photo-ditels P {
    font-size: 12px;
    font-weight: 100;
}


/******************************  
            Blog
 ******************************/
.blogs {
    margin: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.blog-content {
    width: 50%;
    margin-left: 250px;
}

.blog-content h2 {
    margin-top: 30px;
    font-size: 48px;
    line-height: 52px;
    color: #000;
    padding-left: 20px;
}

.blog-content p {
    font-size: 14px;
    font-weight: 300;
    margin-left: 30px;
    padding-bottom: 30px;

}

.blog-img {
    margin-top: 20px;
    width: 50%;


}

#blog-btn {
    padding: 14px 18px;
    margin: 30px;
    font-size: 14px;
    font-weight: 600;
    background: #e02c6d;
    color: #ffffff;
    text-decoration: none;
}

#blog-btn:hover {
    font-weight: 600;
    background: #fff;
    color: #e02c6d;
    transition: 1.2s;
    border: 1px solid #e02c6d;
}

.blog-img {
    width: 80%;
}

/*************************************
                Contact Us
  **********************************/
.contact {
    position: relative;
    height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background: url(../images/playground.jpg);
    background-size: cover;
}

.contact .content {
    width: 100%;
    text-align: center;
}

.contact .content h2 {
    font-size: 36px;
    font-weight: 500;
    color: #fff;
}

.contact .content p {
    font-weight: 300;
    color: #fff;
}

.contact .container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.contact .container .contact-info {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.contact .container .contact-info .box {
    position: relative;
    padding: 20px 0;
    display: flex;
}

.contact .container .contact-info .box .icon {
    margin-top: 20px;
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}

.contact .container .contact-info .box .text {
    display: flex;
    margin-left: 10px;
    font-size: 14px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}

.contact .container .contact-info .box .text h3 {
    font-weight: 500;
    color: #fff;
}

.contact .contact-form {
    width: 50%;
    padding: 40px;
    margin-left: 60px;
    background-color: #fff;
    border-radius: 20px;
}

.contact .contact-form h2 {
    font-size: 30px;
    color: #000;
    font-weight: 500;
}

.contact .contact-form .input-box {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contact-form .input-box input,
.contact-form .input-box input textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: navajowhite;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}

.contact-form .input-box box {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    transform: 0.9s;
    color: #666;


}

.contact-form .input-box #input-btn {
    margin-top: 10px;
    width: 100px;
    text-decoration: none;
    background: #e02c6d;
    color: #fff;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

.contact-form .input-box #input-btn:hover {
    background-color: #fff;
    color: #000;
    transition: 1.2s;
    border: 1px solid #e02c6d;
}

/*************************************
                Footer
  **********************************/
footer {
    margin-top: 20px;
}

.footer-logo {
    width: 40%;
    margin-left: 30%;

}

.social-menu ul {
    margin-left: 40%;
    top: 50%;
    left: 50%;
    padding: 0;
    display: flex;
}

.social-menu ul li {
    list-style: none;
    margin: 0 15px;
}

.social-menu ul li .fa {
    font-size: 30px;
    line-height: 40px;
    transition: .6s;
    color: rgb(212, 212, 212);
}

.social-menu ul li a {
    padding-top: 10px;
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #f7eeee;
    text-align: center;
    transition: .6s;

}

.social-menu ul li a:hover {
    transition: 1.3s;
}

.social-menu ul li .fa:hover {
    color: #fff;
}

.social-menu ul li:nth-child(1) a:hover {
    background-color: #e02c6d;
    ;
}

.social-menu ul li:nth-child(2) a:hover {
    background-color: #3b5999;
    ;
}

.social-menu ul li:nth-child(3) a:hover {
    background-color: #55acee;
    ;
}

.social-menu ul li:nth-child(4) a:hover {
    background-color: red;
    ;
}

footer p {
    text-align: center;
}

/******************************  
            Media Query
 ******************************/

@media only screen and (max-width:688px),
(max-width:992px) {

    menu {
        display: none;
    }

    .blog {
        display: none;
    }

    .contact {
        display: none;
    }
}

@media only screen and (max-width:992px) {
    body {
        width: 100%;
    }

    .banner {

        padding: 160px 0px 0px 9px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;

    }

    .banner h2 {
        font-size: 28px;
        text-align: start;
    }

    .banner img {
        width: 80%;
    }
}


@media only screen and (max-width:992px) {
    .conatiner {
        width: 100%;
    }

    .players {
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
    }

    .player {
        flex-direction: column;
    }

    .footer-logo {
        width: 60%;
        margin-left: 190px;
    }

    .social-menu {
        margin-left: -100px;
    }
}

@media only screen and (max-width:688px) {
    .conatiner {
        width: 100%;
    }

    .banner {
        display: grid;
        padding-top: 60px;
    }

    .banner-itmes {
        width: 50%;
    }

    .banner-itmes h2 {
        font-size: 34px;
        line-height: 38px;
    }

    .banner-img {
        padding-top: 20px;
        margin-left: 30px;
        width: 90%;
    }

    .players {
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
    }

    .player {
        flex-direction: column;
    }


    .footer-logo {
        width: 80%;
        margin-left: 60px;
    }

    .social-menu {
        padding-right: 120px;
    }

}

@media only screen and (max-width:1024px) {
    menu {
        display: none;
    }

    .banner {
        padding-top: 50px;
    }

    .blog {
        width: 100%;
    }

    .blog-img {
        display: none;
    }

    .social-menu {
        margin-left: -90px;
    }

    footer p {
        font-size: 22px;
    }
}